/* line 3, ../sass/scrolling-front-page.scss */
#header {
  padding: 0px;
}
/* line 7, ../sass/scrolling-front-page.scss */
#header.is_stuck {
  background-color: white;
  z-index: 999;
}
/* line 14, ../sass/scrolling-front-page.scss */
#header.is_stuck h1 {
  margin-top: 47px;
  padding-left: 28px;
  padding-top: 1em;
  padding-bottom: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.09em;
  line-height: 1.5em;
}
/* line 30, ../sass/scrolling-front-page.scss */
#header .block-menu {
  margin-top: 41px;
  margin-right: 41px;
  padding-top: 1em;
  float: right;
}
/* line 37, ../sass/scrolling-front-page.scss */
#header .block-menu h2 {
  display: none;
}
/* line 41, ../sass/scrolling-front-page.scss */
#header .block-menu ul {
  padding: 0px;
  margin: 0px;
}
/* line 45, ../sass/scrolling-front-page.scss */
#header .block-menu ul li {
  float: left;
  padding: 0px;
  margin: 0px;
  margin-right: 1em;
  list-style: none;
}
/* line 53, ../sass/scrolling-front-page.scss */
#header .block-menu ul li a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.09em;
  display: block;
}
/* line 62, ../sass/scrolling-front-page.scss */
#header .block-menu ul li.last {
  margin-right: 0em;
}

/* line 69, ../sass/scrolling-front-page.scss */
#main {
  padding-top: 0px;
}

/* line 74, ../sass/scrolling-front-page.scss */
#page {
  margin: 0px;
  max-width: 100%;
  width: 100%;
}

/* line 82, ../sass/scrolling-front-page.scss */
#content {
  padding-right: 0px;
  padding-left: 0px;
}

/* line 89, ../sass/scrolling-front-page.scss */
#page-title {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

/* line 100, ../sass/scrolling-front-page.scss */
.canvas-class .row-class {
  padding: 0px;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
}
/* line 111, ../sass/scrolling-front-page.scss */
.canvas-class .row-class.full-width {
  padding: 0px;
}
/* line 115, ../sass/scrolling-front-page.scss */
.canvas-class .row-class.full-width .region-class {
  width: 100%;
}
/* line 120, ../sass/scrolling-front-page.scss */
.canvas-class .panel-pane a {
  font-weight: bold;
  font-style: italic;
}
/* line 127, ../sass/scrolling-front-page.scss */
.canvas-class .panel-pane.menu ul {
  padding: 0px;
  margin: 0px;
}
/* line 131, ../sass/scrolling-front-page.scss */
.canvas-class .panel-pane.menu ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* line 137, ../sass/scrolling-front-page.scss */
.canvas-class .panel-pane.menu ul li a {
  padding-left: 1em;
  font-weight: normal;
  font-style: normal;
}

/* line 148, ../sass/scrolling-front-page.scss */
.view-projects .views-row {
  float: left;
  width: 480px;
  height: 400px;
  margin-right: 1em;
}
/* line 156, ../sass/scrolling-front-page.scss */
.view-projects .views-field-field-images-2 {
  background-color: #eee;
  min-height: 300px;
  width: 480px;
  line-height: 0px;
}

/* line 168, ../sass/scrolling-front-page.scss */
.view-participants .views-row {
  float: left;
  width: 220px;
  height: 400px;
  margin-right: 1em;
}
/* line 176, ../sass/scrolling-front-page.scss */
.view-participants .views-field-picture {
  background-color: #eee;
  min-height: 100px;
  height: 220px;
  line-height: 0px;
}
