#header {

	& {
		padding: 0px;
	}

	&.is_stuck {

		background-color: white;
		z-index: 999;

	}

	&.is_stuck h1 {

		margin-top: 47px;
		padding-left: 28px;
		padding-top: 1em;
		padding-bottom: 0px;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 0.09em;
		line-height: 1.5em;

	}

	// @media only screen and ( max-width: 760px ) {

	// 	h1 {
	// 		margin-top: 47px;
	// 		padding-left: 28px;
	// 		padding-top: 1em;
	// 		padding-bottom: 0px;
	// 		font-weight: 700;
	// 		text-transform: uppercase;
	// 		font-size: 11px;
	// 		letter-spacing: 0.09em;
	// 		line-height: 1.5em;
	// 	}
	// }

	.block-menu {

		& {
			margin-top: 41px;
			margin-right: 41px;
			padding-top: 1em;
			float: right;
		}

		h2 {
			display: none;
		}

		ul {
			padding: 0px;
			margin: 0px;

			li {
				float: left;

				padding: 0px;
				margin: 0px;
				margin-right: 1em;
				list-style: none;

				a {
					font-weight: 700;
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: 0.09em;
					display: block;
				}
			}

			li.last {
				margin-right: 0em;
			}
		}
	}
}

#main {
	padding-top: 0px
}

#page {
	& {
		margin: 0px;
		max-width: 100%;
		width: 100%;
	}
}

#content {
	& {
		padding-right: 0px;
		padding-left: 0px;
	}
}

#page-title {
	& {
		margin-top: 1em;
		margin-left: 1em;
		margin-bottom: 0.5em;
	}
}

.canvas-class {

	/* remove 99.999% setting for rows that have only 1 region (first==last) */
	.region-class.region-class-first.region-class-last {
		width: 100%
	}

	@media only screen and ( max-width: 760px ) {

		.region-class {
			clear: both;
			width: 100%;
		}

		.region-class-inside {
			padding-left: 0px
		}

	}

	.row-class {

		& {
			padding: 0px;
			padding-left: 3em;
			padding-right: 3em;
			padding-top: 3em;
		}
	}

	.row-class.full-width {

		& {
			padding: 0px;
		}

		.region-class {
			width: 100%;
		}
	}

	.panel-pane a {
		font-weight: bold;
		font-style: italic;
	}

	.panel-pane.menu {

		ul {
			padding: 0px;
			margin: 0px;

			li {
				list-style: none;
				padding: 0px;
				margin: 0px;
			}
			
			li a {
				padding-left: 1em;
				font-weight: normal;
				font-style: normal;
			}
		}
	}

	.is-hidden {
		display: none;
	}
}

.view-projects, .view-participants {

	.views-row {
		
		& {
			float: left;
    		position: relative;
    		width: 25%;
		}

		.ratio {
			padding-top: 75%; /* 4:3 aspect ratio */
		}

		@media only screen and ( max-width: 1020px ) {
			& {
				width: 33.3333%;
			}
		}

		@media only screen and ( max-width: 780px ) {
			& {
				width: 50%;
			}
		}

		@media only screen and ( max-width: 560px ) {
			& {
				width: 100%;
			}
		}

		.project, .participant {

			& {
				position: absolute;
		    	top: 0; 		    
		    	bottom: 0;
		    	left: 0;
		    	right: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-color: #444;
		    }

		    &, a, .title, .name {
				color: white;
		    	font-size: 13px;
				font-style: normal;
				font-weight: 100;
		    }

		    .content {
		    	position: absolute;
		    	bottom: 0px;
		    	left: 0px;
		    	right: 0px;
		    	padding: 1em;
		    }

		    .title, .title a, 
		    .name, .name a {
				letter-spacing: 0.05em;
				font-weight: 400;
				text-transform: uppercase;
				color: white;
		    }

		    .participants, .labs, .projects {
		    	display: none;
		    }

		}

		&:hover {

			.content {
		    	background-color: #222;
			}

		    .participants, .labs, .projects {
		    	display: block;
		    }
		}

	}

}

.view-participants {

	.views-row {

		& {
    		width: 12.5%;
		}

		.ratio {
			padding-top: 100%; /* 1:1 aspect ratio */
		}

		@media only screen and ( max-width: 1020px ) {
			& {
				width: 16.6666666%;
			}
		}

		@media only screen and ( max-width: 780px ) {
			& {
				width: 25%;
			}
		}

		@media only screen and ( max-width: 560px ) {
			& {
				width: 33.333333%;
			}
		}

		@media only screen and ( max-width: 430px ) {
			& {
				width: 50%;
			}
		}
	}
}

