#header {

	& {
		padding: 0px;
	}

	.block-menu {

		& {
			margin-top: 41px;
			margin-right: 41px;
			padding-top: 1em;
			float: right;
		}

		h2 {
			display: none;
		}

		ul {
			padding: 0px;
			margin: 0px;

			li {
				float: left;

				padding: 0px;
				margin: 0px;
				margin-right: 1em;
				list-style: none;

				a {
					font-weight: 700;
					text-transform: uppercase;
					font-size: 11px;
					letter-spacing: 0.09em;
					display: block;
				}
			}

			li.last {
				margin-right: 0em;
			}
		}
	}
}

#main {
	padding-top: 0px
}

#page {
	& {
		margin: 0px;
		max-width: 100%;
		width: 100%;
	}
}

#content {
	& {
		padding-right: 0px;
		padding-left: 0px;
	}
}

#page-title {
	& {
		margin-top: 1em;
		margin-left: 1em;
		margin-bottom: 0.5em;
	}
}

.canvas-class {

	.row-class {

		& {
			padding: 0px;
			padding-left: 3em;
			padding-right: 3em;
			padding-top: 3em;
		}

	}

	.row-class.full-width {

		& {
			padding: 0px;
		}

		.region-class {
			width: 100%;
		}
	}

	.panel-pane a {
		font-weight: bold;
		font-style: italic;
	}

	.panel-pane.menu {

		ul {
			padding: 0px;
			margin: 0px;

			li {
				list-style: none;
				padding: 0px;
				margin: 0px;
			}
			
			li a {
				padding-left: 1em;
				font-weight: normal;
				font-style: normal;
			}
		}
	}
}